[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/lua-5.3.5"]
	path = vendor/lua
	url = https://github.com/lua/lua.git
